aiogram==2.11
aiohttp==3.7.2
async-timeout==3.0.1
attrs==20.3.0
Babel==2.8.0
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
cryptography==3.2.1
idna==2.10
multidict==5.0.0
mysql-connector==2.2.9
mysql-connector-python==8.0.22
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==19.1.0
pyTelegramBotAPI==3.7.3
pytz==2020.4
requests==2.24.0
service-identity==18.1.0
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.25.11
yarl==1.6.2
aiomysql~=0.0.20
